.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

h4.card-content {
    color: black;
}

.card-image {
    height: 200px;
    overflow: hidden;
}

.recipe-card .card-content {
    height: 300px;
}

.recipe-details img {
    width: 100%;
    overflow: hidden;
}

