{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>
    
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="recipe_name" type="text" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div> 
            <!-- recipe image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input id="recipe_image" type="tel" required>
                    <label for="recipe_image">Recipe image URL</label>
                </div>
            </div>
            <!-- recipe description -->
            <div class="row">            
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <textarea id="recipe_description" name="recipe_description" class="materialize-textarea validate" minlength="5" maxlength="200"
                        required></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>            
            </div>
            <!-- is recipe vegetarian -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="material-icons prefix">phone</i>
                        <label for="is_vegetarian">
                            <input type="checkbox" id="is_vegetarian" name="is_vegetarian">
                            <span class="lever"></span>
                            Vegetarian
                        </label>
                    </div>
                </div>
            </div>
            <!-- recipe country of origin  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">flag</i>
                    <select id="country" name="country">
                        <option value="" disabled selected>Select Country</option>
                        {% for country in countries %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Country of origin</label>
                </div>
            </div>
            <!-- ingredients -->
            <div id="ingredients">
                <div class="row" id="ingredient_1">
                    <div class="input-field col s8">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="ingredient1" name="ingredient1" type="text" class="validate" required>
                        <label for="ingredient1">Ingredient 1</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="quantity1" name="quantity1" type="text" class="validate" required>
                        <label for="quantity1">Quantity</label>
                    </div>
                </div>
            </div>            
            <div class="row" id="ingredient_buttons">
                <button type="button" id="add_ingredient">Add Ingredient</button>
            </div>
            <!-- method -->
            <div id="method">
                <div class="row" id="step_1">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <textarea id="step1" name="step1" class="materialize-textarea validate" minlength="5" maxlength="200"
                        required></textarea>
                        <label for="step1">Step 1</label>
                    </div>
                </div>
            </div>            
            <div class="row" id="method_buttons">
                <button type="button" id="add_step">Add Step</button>
            </div>
        </form>
    </div>

{% endblock %}