{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Change Password</h3>
    
     <div class="row">
         <div class="change-password col s8 m6 offset-m3">
         <form class="card-panel z-depth-5" method="POST" action="{{ url_for('change_password') }}">
            <div class="">            
                <!-- old password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="old_password" name="old_password" type="password" class="validate" required>
                        <label for="old_password">Old Password</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <!-- enforce pattern match - at least 1 captial letter, 1 lower case letter and 1 number
                        https://stackoverflow.com/questions/19605150/regex-for-password-must-contain-at-least-eight-characters-at-least-one-number-a -->
                        <input id="new_password" name="new_password" type="password" class="validate" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$" required>
                        <label for="new_password">New Password</label>
                    </div>
                </div>
                <!-- confirm password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="confirm_new_password" name="confirm_new_password" type="password" class="validate" required>
                        <label for="confirm_new_password">Confirm New Password</label>
                    </div>
                </div>
            </div>
        
            <div class="center-align">
                <button type="submit" class="btn-small waves-effect waves-light submit buttons">
                    Change Password <i class="fas fa-sign-in-alt"></i>
                </button>
                <a href="{{ url_for('home') }}" class="btn-small red darken-2 waves-effect waves-light">
                    Cancel
                </a>
            </div>
        </form>
    </div>
    </div>

{% endblock %}