{% extends "base.html" %}

{% block content %}    

    <!-- recipes -->
    <div class="row">
        {% for recipe in recipes %}
            {% set recipe_number = loop.index %}
        <div class="col s12 m6 l4">
            <div class="card recipe{{ recipe_number }} recipe-card hoverable">
                <div class="card-image">
                    <img src="{{ recipe.image_url }}">
                    <span class="card-title text-shadow">{{ recipe.country }}</span>
                </div>
                <div class="card-content center-align">
                    <h5>{{ recipe.recipe_name }}</h5>
                    <p>{{ recipe.recipe_description }}</p>                    
                    </div>
                        <div class="center-align" id="like_counter">
                            <form method="POST" action="{{ url_for('like_recipe') }}">
                                <input type="hidden" id="like_recipe" name="like_recipe" value="{{ recipe._id }}">
                                {% if session['user'] %}
                                    <button type="submit" id="like_button" class="btn-floating">
                                        <i class="far fa-thumbs-up"></i>
                                    </button>
                                    <span>{{ recipe.likes }}</span>
                                {% else %}
                                    <a id="like_button" class="btn-floating modal-trigger" href="#modal1">
                                        <i class="far fa-thumbs-up"></i>
                                    </a>
                                    <span>{{ recipe.likes }}</span>
                                {% endif %}
                            </form>
                        </div>
                        <div id="added_by">
                            <span>Added by: {{ recipe.added_by }}</span>
                        </div>
                        <div class="col s6">
                            <form method="POST" action="{{ url_for('add_to_favourites') }}">
                                <input type="hidden" id="fav_recipe" name="fav_recipe" value="{{ recipe._id }}">
                                {% if session['user'] %}
                                    <button type="submit" class="btn-floating">
                                        <i class="far fa-heart"></i>
                                    </button>
                                {% else %}
                                    <a id="favourite" class="btn-floating modal-trigger" href="#modal1">
                                        <i class="far fa-heart"></i>
                                    </a>
                                {% endif %}   
                            </form>
                        </div>
                    <div class="card-action center-align">
                    <form method="POST" action="/recipe_details/<see_receipe>">
                        <input type="hidden" id="see_recipe" name="see_recipe" value="{{ recipe._id }}">
                        <button type="submit" class="btn waves-effect waves-light green ">
                            See Recipe
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {%  endfor %}
    </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <p>Please Sign in or Register to like this recipe</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      <a href="{{ url_for('sign_in')}}" class="modal-close waves-effect waves-green btn-flat">Sign In / Register</a>
    </div>
  </div>

{% endblock %}
