{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Recipe</h3>
    
    
    <div class="card-panel grey lighten-5">
        <form class="" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id, manage_recipes=manage_recipes) }}">
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">local_dining</i>
                    <input id="recipe_name" name="recipe_name" type="text" value="{{ recipe.recipe_name }}" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div> 
            <!-- recipe image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">panorama</i>
                    <!-- https://html5-tutorial.net/form-validation/validating-urls/ -->
                    <input id="image_url" name="image_url" type="url" pattern="https?://.+" value="{{ recipe.image_url }}" class="validate" required>
                    <label for="image_url">Recipe image URL</label>
                </div>
                </div>
                <!-- recipe category -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">folder_open</i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled>Recipe category</option>
                            {% for category in categories %}
                                {% if category.category_name == recipe.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="category_name">Recipe category</label>
                    </div>
                </div>
                <!-- recipe description -->
                <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_align_center</i>
                    <textarea id="recipe_description" name="recipe_description" class="materialize-textarea validate" minlength="5"
                    maxlength="200" required>{{ recipe.recipe_description}}</textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>            
            </div>
            <!-- is recipe vegetarian -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="material-icons prefix">local_florist</i>
                        <label for="is_vegetarian">
                            {% if recipe.is_vegetarian %}
                                <input type="checkbox" id="is_vegetarian" name="is_vegetarian" checked>
                            {% else %}
                                <input type="checkbox" id="is_vegetarian" name="is_vegetarian">
                            {% endif %}
                            <span class="lever"></span>
                            Vegetarian
                        </label>
                    </div>
                </div>
            </div>
            <!-- recipe country of origin  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">flag</i>
                    <select id="country" name="country">
                        <option value="" disabled>Select Country</option>
                        {% for country in countries %}
                            {% if country.name == recipe.country %}
                            <option value="{{ country.name }}" selected>{{ country.name }}</option>
                            {% else %}
                            <option value="{{ country.name }}">{{ country.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Country of origin</label>
                </div>
            </div>
            <!-- ingredients -->
            <div id="ingredients">
                {% for ingredient in recipe.ingredients %}
                    <div class="row" id="ingredient_{{ loop.index }}">
                        <div class="input-field col s8">
                            <i class="material-icons prefix">kitchen</i>                        
                            <input id="ingredient{{ loop.index }}" name="ingredient{{ loop.index }}"
                            type="text" class="validate" value="{{ ingredient[0] }}" required>
                            <label for="ingredient{{ loop.index }}">Ingredient {{ loop.index }}</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="quantity{{ loop.index }}" name="quantity{{ loop.index }}" type="text" class="validate" value="{{ ingredient[1] }}" required>
                            <label for="quantity{{ loop.index }}">Quantity</label>                        
                        </div>
                    </div>
                {% endfor %}
            </div> 
            {% set num = recipe.ingredients|length %}                       
            <div class="row ingredient-buttons" id="buttons{{ num + 1 }}">
                <button type="button" id="add_ingredient" class="btn-small">Add Ingredient</button> 
                {% if num > 1 %}                   
                    <button type="button" id="remove_ingredient" class="btn-small">Remove Ingredient</button>
                {% endif %}
            </div>                
                       
            <!-- method -->
            <div id="method">
                {% for step in recipe.method %}
                    <div class="row" id="step_{{ loop.index }}">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">build</i>
                            <textarea id="step{{ loop.index }}" name="step{{ loop.index }}" class="materialize-textarea validate" minlength="5" maxlength="200"
                            required>{{ step }}</textarea>
                            <label for="step{{ loop.index }}">Step 1</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row method-buttons" id="m_buttons{{ num+1 }}">
                <button type="button" id="add_step" class="btn-small">Add Step</button>
                {% if num > 1 %}                   
                    <button type="button" id="remove_step" class="btn-small">Remove Step</button>
                {% endif %}                
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_align_center</i>
                    <textarea id="recipe_story" name="recipe_story" class="materialize-textarea validate" maxlength="500">{{ recipe.recipe_story }}</textarea>
                    <label for="step1">Recipe background story (optional)</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="center-align">
                <button class="btn-small waves-effect waves-light submit-buttons confirm_edit_buttons" type="submit">Confirm Changes
                    <i class="material-icons right">send</i>                
                </button>
                {% if manage_recipes %}
                    <a href="{{ url_for('manage_recipes') }}" class="btn-small red confirm_edit_buttons">Cancel</a>
                {% else %}
                    <a href="{{ url_for('my_recipes') }}" class="btn-small red confirm_edit_buttons">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}