{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">{{ username }}'s Recipes</h2>

    <div class="row">
    {% if favourite_recipes %}
        <!-- recipes -->
        <div class="row">
            {% for recipe in favourite_recipes %}
                {% set recipe_number = loop.index %}
                <div class="col s12 m6 l4">
                    <div class="card recipe{{ recipe_number }} recipe-card hoverable center-align">
                        <div class="card-image">
                            <img src="{{ recipe[0].image_url }}">
                            <span class="card-title">{{ recipe[0].country }}</span>
                        </div>
                        <div class="card-content">
                            <h5>{{ recipe[0].recipe_name }}</h5>
                            <p>{{ recipe[0].recipe_description }}</p>
                            </div>
                            <div id="added_by">
                                <span>Added by: {{ recipe[0].added_by }}</span>
                            </div>                   
                            <div class="card-action center-align">
                            <form method="POST" action="/recipe_details/<see_recipe>">
                                <input type="hidden" id="see_recipe" name="see_recipe" value="{{ recipe[0]._id }}">
                                <!-- set fav_recipe to true for back button redirect on Recipe details -->
                                <input type="hidden" id="fav_recipe" name="fav_recipe" value="{{ True }}">
                                <button type="submit" class="btn waves-effect waves-light green ">
                                    See Recipe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    {% else %}
        <h3 class="red-text center-align">You have not added any favourite recipes yet</h3>
    {% endif %}
    </div>
{% endblock %}


