{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">{{ username }}'s Favourite Recipes</h2>

    <div class="row">
        {% if favourite_recipes %}

            <!-- Recipe cards -->
            <div class="row">
                {% for recipe in favourite_recipes %}
                <span>{{ recipe[0] }}</span>
                    {% set recipe_number = loop.index %}
                    <div class="col s12 m6 l4">
                        <div class="rem-fav card recipe{{ recipe_number }} recipe-card hoverable center-align">
                            <div class="remove-fav">
                                <a href="#remove_recipe{{ loop.index }}" class="remove-favourite btn-floating red modal-trigger">
                                    <i class="material-icons prefix">remove</i>
                                </a>
                            </div>

                            <!-- /Recipe image -->
                            <div class="card-image">
                                <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }} image">
                                <span class="card-title text-shadow">{{ recipe.recipe_name }}</span>
                            </div>
                            <!-- /Recipe image -->

                            <!-- Recipe name & description -->
                            <div class="card-content">
                                <h5>{{ recipe.recipe_name }}</h5>
                                <p>{{ recipe.recipe_description }}</p>
                            </div>
                            <!-- /Recipe name & description -->

                            <!-- Like button -->
                            <div class="center-align like-counter">
                                <!-- https://jinja.palletsprojects.com/en/2.10.x/templates/#assignments -->
                                <!-- check if user has liked this recipe -->
                                {% set ns = namespace(found = false) %}
                                {% for likes in user_likes %}
                                    {% if likes | string == recipe._id | string %}
                                        {% set ns.found = true %}
                                    {% endif %}
                                {% endfor %}
                                <!-- if user has already liked the recipe, colour icon blue -->
                                {% if ns.found %}
                                    <a href="{{ url_for('like_recipe', recipe_id=recipe._id ) }}" class="like-button-blue btn-floating blue">
                                        <i class="far fa-thumbs-up"></i>
                                    </a>
                                    <span class="liked">{{ recipe.likes }}</span>
                                {% else %}
                                    <a href="{{ url_for('like_recipe', recipe_id=recipe._id ) }}" class="like-button btn-floating">
                                        <i class="far fa-thumbs-up"></i>
                                    </a>
                                    <span class="not-liked">{{ recipe.likes }}</span>
                                {% endif %}
                            </div>
                            <!-- /Like button -->

                            <div class="added-by">
                                <span>Added by:
                                    {{ recipe.added_by }}</span>
                            </div>

                            <!-- See recipe button -->
                            <div class="card-action center-align">
                                <!-- set fav_recipe to true for back button redirect on Recipe details -->
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id, fav_recipe=true)}}" class="btn waves-effect waves-light submit-buttons">
                                    See Recipe
                                </a>
                            </div>
                            <!-- /See recipe button -->

                        </div>
                    </div>

                    <!-- Remove recipe modal structure -->
                    <div id="remove_recipe{{ loop.index }}" class="modal modal-small">
                        <div class="modal-content">
                            <p>Are you sure you want to remove this recipe from your favourites?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="center-align">
                                <a href="{{ url_for('remove_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect waves-green btn-small">Yes</a>
                                <a href="#!" class="modal-close waves-effect waves-green btn-small red">No</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Remove recipe modal structure -->

                {% endfor %}
            </div>
            <!-- Recipe cards -->
        
            <!-- if user has not added any favourite recipes -->
        {% else %}
            <h3 class="red-text center-align">You have not added any favourite recipes yet</h3>
        {% endif %}
    </div>
{% endblock %}