{% extends "base.html" %}
{% block home %}

    <div>
        <div class="parallax-container">
        <div class="parallax"><img src="static/images/MapMaster-WorldFoods-IndexImage.jpg" width="100%"></div>
        </div>
        <div class="section white">
        <div class="row container">
            <h2 class="center-align">Popular Recipes</h2>
            <div class="carousel">
                {% for recipe in top_recipes %}
                    <div class="card carousel-item top-recipes center-align">
                        <img src="{{ recipe.image_url }}">
                        <span class="card-title ">{{ recipe.recipe_name }}</span>
                        <form method="POST" action="/recipe_details/<see_recipe>">
                            <input type="hidden" id="see_recipe" name="see_recipe" value="{{ recipe._id }}">
                            <input type="hidden" id="top_recipe" name="top_recipe" value="{{ True }}">
                            <button type="submit" class="btn waves-effect waves-light green top-recipes">
                                See Recipe
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>                                 
        </div>
        </div>
        <div class="parallax-container">
        <div class="parallax"><img src="static/images/MapMaster-WorldFoods-IndexImage.jpg"></div>
        </div>
    </div>
{% endblock %}
