{% extends "display_recipes.html" %}
{% block recipes_search %}


    <h2 class="center-align">Recipes</h2>
    <!-- search bar -->
    <div class="search card-panel z-depth-5">
        <form action="{{ url_for('search') }}" method="POST" class="">
            <div class="row center-align">
                <div id="country_field" class="input-field col s12 m3">                    
                    <select id="country" name="country">
                        <option value="" selected>All countries</option>
                        {% for country in countries %}
                            <option value="{{ country.name }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Country of origin</label>    
                </div>
                <div id="category_field" class="input-field col s12 m3">
                    <select id="category" name="category">
                        <option value="" selected>All Categories</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label>Category</label>
                </div>
                <div id="vegetarian_field" class="input-field col s12 m3 center-align">
                    <label>
                        <input type="checkbox" name="vegetarian" class="filled-in" />
                        <span>Vegetarian</span>
                    </label>
                </div>
            </div>
            <div class="row ">
                <div id="query_field" class="input-field col s12">
                    <input type="text" name="query" id="query">
                    <label for="query">Search Recipes</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <a href="{{ url_for('get_recipes') }}" class="red btn-small text-shadow waves-effect waves-light">Reset</a>
                    <button type="submit" class="btn-small text-shadow submit-buttons">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
