{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes  %}
        <img src="{{ recipe.image_url }}" alt="" width="200"> <br>
        {{ recipe.recipe_name }} <br>
        Time required {{ recipe.preparation_time }} minutes <br>
        Vegetarian {{ recipe.vegetarian }} <br>
        Vegetarian
        {% if recipe.vegetarian %}
            Yes
        {% else %}
            No
        {% endif %} <br>
        Country of origin: {{ recipe.country }} <br>
        Category: {{ recipe.category_name }} <br>
        Desciption: {{ recipe.description }} <br>        
        {% for ingredient in recipe.ingredients %}
            {{ ingredient[0] }} 
            <span style="padding: 5%">{{ ingredient[1] }}</span> <br>
        {% endfor %}
        {% for method in recipe.method %}
           Step {{ method[0] }}
            {{ method[1] }} <br>
        {% endfor %}
        Recipe background: {{ recipe.background }}
    {% endfor %}

{% endblock %}
