{% extends "base.html" %}
{% block content %}

    <!-- redirect back to home if user is viewing top recipe from home page -->
    {% if top_recipe %}
        <a href="{{ url_for('home') }}" id="rd_back" class="waves-effect waves-light btn-small red">
            Back
        </a>
    <!-- redirect back to favourites -->
    {% elif fav_recipe %}
        <a href="{{ url_for('favourite_recipes') }}" id="rd_back" class="waves-effect waves-light btn-small red">
            Back
        </a>
        <!-- redirect back to my recipes -->
    {% elif my_recipes %}
        <a href="{{ url_for('my_recipes') }}" id="rd_back" class="waves-effect waves-light btn-small red">
            Back
        </a>
    <!-- redirect back to manage recipes -->
    {% elif manage_recipes %}
        <a href="{{ url_for('manage_recipes') }}" id="rd_back" class="waves-effect waves-light btn-small red">
            Back
        </a>
    <!-- redirect back to recipe search results or all recipes -->
    {% else %}
        <a href="{{ url_for('search') }}" id="rd_back" class="waves-effect waves-light btn-small red">
            Back
        </a>
    {% endif %}    

    <div class="row">        
        <div class="col card-panel s12 recipe-details z-depth-5">
            <div class="row">
                <div id="recipe_image" class="col s12 m6">                                       
                    <img src="{{ selected_recipe.image_url }}">
                    <div>
                        <span id="recipe_country" class="card-title text-shadow">{{ selected_recipe.country }}</span>
                    </div>
                    <div id="category">
                        <span>Category: {{ selected_recipe.category_name }}</span>
                    </div>
                        <div class="favourite">
                            <form method="POST" action="{{ url_for('add_to_favourites') }}">
                                <input type="hidden" id="fav_recipe" name="fav_recipe" value="{{ selected_recipe._id }}">
                                {% if session['user'] %}
                                    <button id="rd_favourite" type="submit" class="btn-floating">
                                        <i class="far fa-heart"></i>
                                    </button>
                                {% else %}
                                    <a id="rd_favourite" class="btn-floating modal-trigger" href="#modal1">
                                        <i class="far fa-heart"></i>
                                    </a>
                                {% endif %}   
                            </form>
                        </div>   
                </div>
                <div id="recipe_description" class="col s12 m6">
                    <h3 class="center-align">{{ selected_recipe.recipe_name }}</h3>
                    <p class="center-align">{{ selected_recipe.recipe_description }}</p>                                      
                </div>
            </div>
            <div class="row">
                <!-- recipe ingredients -->
                <div id="recipe_ingredients" class="col s12 m6">
                    <div class="col s8">
                        <h6>Ingredients</h6>
                        {% for ingredient in selected_recipe.ingredients %}
                            <div>
                                <span class="ingredients">{{ ingredient[0] }}</span>
                            </div>                    
                        {% endfor %}
                    </div>
                    <div class="col s4 right-align">
                        <h6>Quantity</h6>
                        {% for ingredient in selected_recipe.ingredients %}
                            <div>
                                <span class="quantities">{{ ingredient[1] }}</span>
                            </div>                    
                        {% endfor %}
                    </div>
                </div>
                <!-- recipe method -->
                <div id="recipe_method" class="col s12 m6">
                    <h5 class="center-align">Method</h5>
                    {% for method in selected_recipe.method %}
                    <div>
                        <span class="ingredients">Step {{ loop.index }}: {{ method }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>            
            <div class="row">
                <!-- recipe story -->
                <div id="recipe_story" class="col s12">
                    {% if selected_recipe.recipe_story %}
                        <h5 class="center-align">Recipe Story</h5>
                        <p>{{ selected_recipe.recipe_story }}</p>
                    {% endif %}
                    <!-- recipe likes -->
                    <div class="center-align" id="rd_like_counter">
                            <form method="POST" action="{{ url_for('like_recipe') }}">
                                <input type="hidden" id="like_recipe" name="like_recipe" value="{{ selected_recipe._id }}">                                
                                {% if session['user'] %}
                                    <button type="submit" id="like_button" class="btn-floating btn-tooltipped"
                                    data-position="bottom" data-tooltip="I am a tooltip">
                                        <i class="far fa-thumbs-up"></i>
                                    </button>
                                    <span>{{ selected_recipe.likes }}</span>
                                {% else %}
                                    <a id="like_button" class="btn-floating modal-trigger" href="#modal1">
                                        <i class="far fa-thumbs-up"></i>
                                    </a>
                                    <span>{{  selected_recipe.likes }}</span>
                                {% endif %}
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
